.main-container {
    margin-inline: auto;
    width: min(80%, 70rem);
}

.shadow-drop {
    box-shadow: var(--shadow-drop);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.m-small {
    margin: 0.5em;
}

.m-h-small {
    margin: 0 0.5em 0 0.5em;
}

.p-small {
    padding: 0.5em;
}

.p-medium {
    padding: 1em;
}

.p-h-small {
    padding: 0 0.5em 0 0.5em;
}

.p-h-medium {
    padding: 0 1em 0 1em;
}

.p-h-large {
    padding: 0 5em 0 5em;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.bg-green-1 {
    background: var(--green-1);
}

.bg-green-2 {
    background: var(--green-2);
}

.font-green-1 {
    color: var(--green-1);
}

.shadow-in {
    box-shadow: var(--shadow-in);
}

.text-center {
    text-align: center;
}

.font-w-200 {
    font-weight: 200;
}

.font-w-400 {
    font-weight: 400;
}

.font-w-500 {
    font-weight: 500;
}

.font-w-600 {
    font-weight: 600;
}

.font-xs {
    font-size: 0.3em;
}

.font-s {
    font-size: 0.5em;
}

.font-m {
    font-size: 0.8em;
}

.font-l {
    font-size: 1em;
}

.font-xl {
    font-size: 1.5em;
}

.fx-row {
    display: flex;
    flex-direction: row;
}

.fx-col {
    display: flex;
    flex-direction: column;
}

.fx-center-all {
    align-items: center;
    justify-content: center;
}

.fx-i-center {
    align-items: center;
}

.fx-c-center {
    justify-content: center;
}

.fx-between {
    justify-content: space-between;
}

.fx-around {
    justify-content: space-around;
}

.fx-i-start {
    align-items: flex-start;
}

.fx-i-end {
    align-items: flex-end;
}

.fx-c-start {
    justify-content: flex-start;
}

.fx-c-end {
    justify-content: flex-end;
}

.fx-basis-100 {
    flex-basis: 100%;
}

.fx-basis-50 {
    flex-basis: 50%;
}

.fx-basis-70 {
    flex-basis: 70%;
}

.fx-basis-30 {
    flex-basis: 30%;
}