@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {

    /* colors */
    --green-1: #52B788;
    --green-2: #B7E4C7;
    --grey-1: #303030;
    --grey-2: #919191;
    --success: #17a71f;
    --success-bg: #a3dda6;
    --info: #2196f3;
    --info-bg: #a9d3f5;
    --warn: #ffd83b;
    --warn-bg: #fff2bd;
    --error: #d92525;
    --error-bg: #f39191;

    /* shadow settings */
    --shadow-in: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    --shadow-drop: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --shadow-drop-up: 0px -4px 4px rgba(0, 0, 0, 0.25);
  
    /* fonts */
    --primary-font: 'Montserrat', sans-serif;
    --base-font-lineheight: 1.5em;

    /* margins, paddings */
    --mp-s: 0.5em;
    --mp-m: 1em;
    --mp-l: 1.5em;

    --mp-s-v: 0.5em 0 0.5em 0;
    --mp-m-v: 0.5em 0 0.5em 0;
    --mp-l-v: 1.5em 0 1.5em 0;

    --mp-s-h: 0 0.5em 0 0.5em;
    --mp-m-h: 0 1em 0 1em;
    --mp-l-h: 0 1.5em 0 1.5em;

}