.navigation {
    height: 10%;
    background: white;
    box-shadow: var(--shadow-drop);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
}

.navigation-mobile {
    display: block;
}

.navigation-desktop {
    display: none;
}

@media only screen and (min-width: 900px) {
    .navigation-mobile {
        display: none;
    }

    .navigation-desktop {
        display: block;
    }
}

.toggle-menu {
    cursor: pointer;
}

.toggle-menu:active {
    color: var(--grey-1);
}

.menu {
    top: 100%;
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-shadow: var(--shadow-drop);
}

.menu-link {
    background: white;
    box-shadow: var(--shadow-in);
    display: flex;
    height: 4em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.menu-link:hover {
    background: var(--green-1);
}

.menu-link:active {
    background: var(--grey-1);
    color: var(--green-1);
}