*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-size: 1.3125rem;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

.main-container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}
