.static {
    height: 15em;
}

.responsive {
    height: auto;
}

.bg {
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}